/* - 모든 값에 보더 박스... */
*{box-sizing: border-box;}
/* - body에 마진값 0 */
body {margin: 0;}
/* - form에 존재하는 모든 값에 가운데 정렬 */
/* form {text-align: center;} */
/* - 모든 label 좌측 정렬 */
/* label {text-align: start;} */
/* - 모든 label 좌측 정렬 및 display 값 inline-block과 float값 좌측으로 추가 */
label {width: 60px; text-align: start; display: inline-block;}
/* - float: left 값... PROBLEMS에 오류? 떠서 주석처리 */
/* label {width: 60px; text-align: start; display: inline-block; float: left;} */
/* - 브라우저 사이즈가 600px 이상이면 div에 있는 값들이 고정 값 600px 이상 늘어나지 않음 */
div {width: 100%; max-width: 600px;}
/* - 브라우저 사이즈가 600px 이상이면 모든 input 박스가 고정 값 600px이상 늘어나지 않음 */
/* input {width: 100%; max-width: 600px;} */
/* input {width: 100%; max-width: 600px; margin: 0 auto;} */
/* - 모든 input 박스의 width값을 100% */
input {width: 100%;}
/* - type이 text인 값에 label 사이즈(?)에 맞춰 고정 값 60px 만큼 줄임 */
input[type=text] {width: calc(100% - 60px); max-width: calc(600px - 60px);}
/* - type이 submit인 값에 상단 영역 5px 마진을 줌 */
input[type=submit] {margin-top: 5px;}
/* input[type=trxt],input[type=password] {width: calc(100%-8px);} */